@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');

body{
    background: #f857a6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a{
    color:white;
}
#courses_container{
    margin:5%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.course_box{
    border : 2px solid black;
    border-radius: 10px;
    margin: 1% 1%;
    background-color: rgba(255,200,2,0.5);
    text-align:center;
    padding-bottom:10px;
    transition: all 0.5s;
    transition-timing-function: ease;
    width:300px;

}

.course_box:hover{
    transform: scale(1.1);
    background-color: #FFC107;
    border-color:#0000008c
}
.course_box figure img{
    width:100%;
}
.course_box figure {
    background-color:white;
    width:90%;
    margin: 5% 5%;
    border-radius:10px;
}

.course_box strong{
    font-family: 'Dancing Script', cursive;
    font-size:200%
}
#lessons-container{
    margin:50px 20% ;
    color:white;
    text-align:center;
}
#lessons-container h1{
    font-family: "Dancing Script", cursive;
    font-size:50px;
    text-align:center;
}
#lessons-container ul{
    padding:0px;
}
#lessons-container li{
    width:100%;
    text-align:center;
    list-style-type:none;
    font-size:20px;
    background-color:rgba(0,0,0,0.5);
    border-radius:10px;
    padding:10px;
    border: 1px solid white;
    margin-top:10px;
    transition: all 0.5s;
    transition-timing-function:ease;

}
#lessons-container li:hover{
    transform: scale(1.1);
    border: 2px solid #f0ff1d;

}
#lessons-container a:hover{
    color:yellow;
}
#quiz-btn{
    padding: 10px 20px;
    background-color:#ffc631;
    color: #222222b5;
    font-weight:bold;
    transition: all 0.25s;
    transition-timing-function:ease;
}
#quiz-btn:hover{
    background-color:darkorange;
    color:white;
    transform:scale(1.1);
}
#quiz{
    margin-top:5%;
    margin-bottom:5%;
}
.form-group{
    background-color:white;
    padding: 10px 20px;
    border-radius:10px;
}
.radio{
    border: 2px solid lightgrey;
    padding:5px 20px;
    border-radius:10px;
    transition: all 0.5s;
}
.radio:hover{
    border-color:#92539f;
    transform:scale(1.025);
}
input[type="submit"]{
    text-align:center;
    margin-left:40%;
    padding: 10px 20px;
    border-radius:10px;
}
#timer-container{
    color: white;
    border: 5px solid white;
    display:inline-block;
    border-radius:10px;
    width:150px;
    position: fixed;
    background-color: rgba(0,255,0,0.7);
    text-align:center;
    right:10px;
}
#timer{
    margin:0px;
    font-size:30px
}
#lesson-menu{
    width:250px;
    float:left;
    margin-left:-60px;

}
#resource-display{
    margin-left:200px;
    border:2px solid white;
    color:white;
    font-family: "Dancing Script", cursive;
    height:450px;
    width:850px;
    padding:px;
    background-color:rgba(200,200,100,0.7);
}
embed{
    width:100%;
    height:100%;

}
embed:focus{
    outlin:none;
}
.resource-btn{
    width:100%;
    text-align:left;
    outline:none;
    border:none;
}
#resource-display h1{
    margin:100px;
}
#course-name{
    font-family:"Dancing script";
    color:white;
    text-align:center;
}
footer{
    position:fixed;
    background-color:#111;
    width:100%;
    padding:5px;
    color:#999;
    text-align:center;
    bottom:0px;
}
footer p {
    margin:0px;
}
@media only screen and (max-width:1000px){
    #lesson-menu{
        width:100%;
        display:block;
        margin:0px;
        float:none;
    }
    #resource-display{
        width:100%;
        margin:0px;
        height:300px;
    }
    #resource-display h1{
        margin:5px;
        text-align:center;
    }

}